
body{
    background-image: linear-gradient(to top,blue, rgb(32, 24, 93)) ;
    text-align: center;
    font: normal 20px 'time new roman';
}
h1{
    font: normal 40px 'algerian';
    color: rgb(80, 202, 161);
}
#sobreMim{
    background-image: linear-gradient(to top, black, blue,rgb(32, 24, 93));
    color: aliceblue; 
    width: 50%;
    margin-left: 25%;
    padding: 15px;
    border-radius: 15px;
}
#corpo{
    margin-top: 10%;
    justify-content: center;
}
#texto_sobre_mim{
    text-align: justify;
   
}

#contatos{
    display: inline-flex;
    align-items: center;
    justify-content: center;/*Faz os itens ficarem centralizados*/
}
.imagem_contato{
    float: right;
    width: 30px;
    padding: 5px;
}
.imagem_contato:hover{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    transition-duration: 5ms;
}
.menu-comandos{
    font: normal 20px arial;
    height: 10px;
}
.menu-comandos:hover{
    background-color: rgb(68, 70, 174);
    border-radius: 5px;
    transition-duration: 5ms;
}
.menu-comandos:visited{
    color: aliceblue;
}
.menu-comandos:link{
    color: aquamarine;
}
body{
    background-image: linear-gradient(to top,blue, rgb(32, 24, 93)) ;
    text-align: center;
    font: normal 20px 'time new roman';
}
h1{
    font: normal 40px 'algerian';
    color: rgb(80, 202, 161);
}
#sobreMim{
    background-image: linear-gradient(to top, black, blue,rgb(32, 24, 93));
    color: aliceblue; 
    width: 50%;
    margin-left: 25%;
    padding: 15px;
    border-radius: 15px;
}
#corpo{
    margin-top: 10%;
    justify-content: center;
}
#texto_sobre_mim{
    text-align: justify;
   
}

#contatos{
    display: inline-flex;
    align-items: center;
    justify-content: center;/*Faz os itens ficarem centralizados*/
}
.imagem_contato{
    float: right;
    width: 30px;
    padding: 5px;
}
.imagem_contato:hover{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    transition-duration: 5ms;
}
.menu-comandos{
    font: normal 20px arial;
    height: 10px;
}
.menu-comandos:hover{
    background-color: rgb(68, 70, 174);
    border-radius: 5px;
    transition-duration: 5ms;
}
.menu-comandos:visited{
    color: aliceblue;
}
.menu-comandos:link{
    color: aquamarine;
}
